# Ignore artifacts:
build/
dist/
coverage/
node_modules/

# Ignore logs:
*.log

# Ignore local environment files:
*.local

# Ignore specific files:
package-lock.json

# Playwright
core
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
